.fade-in {
            animation: fadeIn 0.5s ease-in-out;
        }
        
        @keyframes fadeIn {
            from { opacity: 0; transform: translateY(10px); }
            to { opacity: 1; transform: translateY(0); }
        }
        
        .card-hover {
            transition: all 0.3s ease;
        }
        
        .card-hover:hover {
            transform: translateY(-5px);
            box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        }
        
        .gradient-header {
            background: linear-gradient(135deg, #73ea66 0%, #4ba262 100%);
            /* background: linear-gradient(135deg, #FFF8E6, #FFFDF8); */
        }

.btn-primary {
  width: 100%;
  padding: 6px;
  background: #34db8a;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 10px;
}

.btn-primary:hover:not(:disabled) {
  background: #4db929;
}

.btn-primary:disabled {
  background: #bdc3c7;
  cursor: not-allowed;
}