/* src/app/modules/analista/layouts/analista-layout/analista-layout.component.css */
/* Estilos para el estado activo del routerLink */
a.active {
  background-color: rgba(255, 255, 255, 0.2) !important;
  font-weight: 600;
}

a.active span:last-child {
  opacity: 1 !important;
}